<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>ua.rbolck.rader.servlets.PostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Postgres JDBC</description>
        <res-ref-name>jdbc/rader</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>


